SELECT {
	FONT-SIZE: 12px
}
TD {
	FONT-SIZE: 9pt;FONT-FAMILY: "宋体", "serif";LINE-HEIGHT: 13pt
}
TABLE {
	FONT-SIZE: 9pt;LINE-HEIGHT: 13pt
}
body,table {font-size: 9pt}
BODY {
	FONT-SIZE: 12px;
	FONT-FAMILY: "宋体", "serif";
	clip:    rect(2 2px  2);
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	background-color: transparent;
}
.myBody {
	FONT-SIZE: 12px; MARGIN: 0px; FONT-FAMILY: 宋体; BACKGROUND-COLOR: #fffff0
}
A:link {
	COLOR: #082d71; TEXT-DECORATION: none
}
A:active {
	COLOR: #082d71; TEXT-DECORATION: none
}
A:visited {
	COLOR: #082d71; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
TEXTAREA {
	BACKGROUND-COLOR: #ffffff; COLOR: #082d71
}
SELECT {
	BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM-COLOR: #E4E7E2; BORDER-LEFT-COLOR: #E4E7E2; BORDER-RIGHT-COLOR: #E4E7E2; BORDER-TOP-COLOR: #E4E7E2; COLOR: #000000; FONT-SIZE: 9pt
}
.contentTable {  background-color:#333333; font-size: 12px}
.tableTitle {  background-color: #E6F2FE; color: #000000; font-size: medium}

.tableListDetail0 {  background-color: #FFFFFF}

.tableListDetail1 {  background-color: #F6F6F6}
.mySelectOn {
	COLOR: #ffffff; BACKGROUND-COLOR: #0000ff
}
.mySelectOnoever {
	COLOR: #000000; BACKGROUND-COLOR: #C0C0C0
}
.codeTry1 {
	BACKGROUND-COLOR: #ffffff
}
.codeTry2 {
	BACKGROUND-COLOR: #fdf9e3
}
.mySelectOnoever {
	COLOR: #000000; BACKGROUND-COLOR: #C0C0C0
}
.pageTable{background-color: #FFFFFF}
.editLabel {COLOR: #000000; background-color: #EEEFF0}

.editInput {  background-color: #FFFFFF}

.functionTitle {  font-size: 12px; color: #000000}

.section {  background-color: #FFE1C4; font-size: 14px; color: #0033FF}

.topTable {
	BACKGROUND-COLOR: #4CA48B; COLOR: #082d71
}
.framebgcolor {  background-color: #525780}

.hot{color:red}
.defaultBGColor{BACKGROUND-COLOR: #FFFFFF}
.pageTableTRBGColor{BACKGROUND-COLOR:#FFFFFF}
.textRed
{
	 font-family:Arial;
	 font-size:10pt;
	 font-weight:bold;
	 color:#ff0000;
	 text-decoration:underline;
}
.textbox
{
	BORDER-RIGHT: black 0px solid;
	BORDER-TOP: black 0px solid;
	BORDER-LEFT: black 0px solid;
	BORDER-BOTTOM: black 0px solid;
	margin-left:11px;
	FONT-SIZE: 10pt;
	FONT-FAMILY: arial;
	color:#000000;
	WIDTH: 20px;
	background:transparent;
}

.myPop {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; VISIBILITY: hidden; BORDER-LEFT: black 1px solid; WIDTH: 350px; BORDER-BOTTOM: black 1px solid; POSITION: absolute; HEIGHT: 100px; BACKGROUND-COLOR: #fffff0
}
.codeThy {
	HEIGHT: 20px; BACKGROUND-COLOR: #e6f2fe
}
.codeThyTitle {
	HEIGHT: 20px; BACKGROUND-COLOR: #ffcccc
}
.codeThy0 {
	HEIGHT: 20px; BACKGROUND-COLOR: #e6f2fe
}
.codeTry1 {
	BACKGROUND-COLOR: #ffffff
}
.codeTry_zf {
	BACKGROUND-COLOR: #ffffff ; color:Red
}
.codeTry_wkk {
	BACKGROUND-COLOR: #ffffff ; color:blue
}
.codeTry_wkk1 {
	BACKGROUND-COLOR: #fdf9e3 ; color:Green
}
.codeDiv {
	OVERFLOW: auto; WIDTH: 100%
}
.myBody {
	FONT-SIZE: 12px; MARGIN: 0px; FONT-FAMILY: 宋体; BACKGROUND-COLOR: #fffff0
}
.tdWidth{
     	WIDTH: 120px;
}
TABLE.ShowMessage1
{
    BACKGROUND-COLOR: #bbbbbb;
    BORDER-BOTTOM: #ff0000 3px double;
    BORDER-LEFT: #ff0000 3px double;
    BORDER-RIGHT: #ff0000 3px double;
    BORDER-TOP: #ff0000 3px double;
    COLOR: #ff0000
}

DIV.ShowMessage1
{
    HEIGHT: 50px;
    LEFT: 5px;
    POSITION: absolute;
    TOP: 5px;
    VISIBILITY: hidden;
    WIDTH: 400px
}
.dwtableListDetail1 {  background-color: #F6F6F6}
.dwTdRead0class {  COLOR: #FFFFFF; background-color: #4CA48B;width: 70px;height:40px}
.dwTdRead1class {  COLOR: #FFFFFF; background-color: #4CA48B;width: 140px;height:40px}
.dwTdRead2class {  COLOR: #FFFFFF; background-color: #4CA48B;width: 150px;height:40px}
.dwTdRead3class {  COLOR: #FFFFFF; background-color: #4CA48B;width: 200px;height:40px}
.dwTdRead4class {  COLOR: #FFFFFF; background-color: #4CA48B;width: 180px;height:40px}
.dwTdRead5class {  COLOR: #FFFFFF; background-color: #4CA48B;width: 400px;height:40px}
.dwTdRead33class {  COLOR: #FFFFFF; background-color: #4CA48B;width: 200px;height:64px}
.dwTdEditclass{  width: 80px;height:40px}
.dwTrclass {BACKGROUND-COLOR: #FFFFFF; height:25px}
INPUT.buttonface {
	font-size: 9pt; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; height: 22px; clip:  rect(   ); color: #000000; border-color: black #000000 #000000 black; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; background-color: #FFFFFF
}
.1b {
	FONT-SIZE: 12px; FONT-FAMILY: 宋体;   border-color:Silver
}
.mengban_head {
			position: absolute;
			height: 100%;
			z-index: 10;
			top: 0;
			left: 0;
			background-color: #CECECE;
			width: 100%;
			visibility: visible;
			filter: alpha(opacity = 10);
}

.addr_line {font-size:14px;font-weight:bold;border-bottom:2px solid #aac9ea;}


.focus{
	border: 1px solid #f00;
	backgroud: #fcc;
}
.high{
	color:red;
}
.formtips{width: 200px;margin:2px;padding:2px;}

.gg{ font-size:13px; line-height:20px; padding-top:16px; padding-bottom:12px}
.htdh{font-size:13px; color:#FFFFFF; padding-left:20px}
.htjj{ padding-left:12px;}
.htwz{ font-size:14px; padding-left:10px; color:#FFFFFF}
.htcx{font-size:14px}
.htbd{border:#7E9DB9 1px solid}
.ztys{color:#107DD0; font-size:13px}
.jk{color:#157BCD;}
.jk1{color:#157BCD; font-size:13px}
.bk{border:#157BCD solid 1px}
.bs{ color:#FFFFFF}

#Layer2 {
	position:absolute;
	width:100%;
	overflow:auto;
	z-index:2;
	border:hidden;
}
#Layer3 {
	position:absolute;
	width:100%;
	overflow:auto;
	z-index:1;
}
#Layer4 {
	position:absolute;
	width:100%;
	overflow:auto;
	display:none;
	z-index:2;
}
html, body {margin:0;padding:0;height:100%; width:100%;font-size:12px;}
.tesebox_txt{
font-size:16px;
color:#7b90a4;
font-weight:bold;
padding-left:70px;
padding-top:14px;
display: block;
}

.a1{
text-decoration:none;
color:#05b1ed;
font-size:14px;
font-weight:bold;
cursor:pointer;
}
.a2{
text-decoration:none;
color:#ffffff;
font-size:14px;
font-weight:bold;
cursor:pointer;
}
.gongju{border-top:solid thin #E0E0E0;
border-right:solid thin gray;
border-left:solid thin #E0E0E0;
font-family:Verdana;
font-size:13px;
text-align:center;

color:#ffffff;
cursor:pointer;
background-image:url(../../images/wl/004.jpg); background-repeat:repeat-x;width:auto;
overflow:hidden;}
.gongju1{border-top:solid thin #E0E0E0;
border-right:solid thin gray;
border-left:solid thin #E0E0E0;
font-family:Verdana;
font-size:13px;
text-align:center;

color:#ffffff;
cursor:pointer;
background-image:url(../../images/wl/004.jpg); background-repeat:repeat-x;width:auto;
overflow:hidden;}

.gongju2{border-top:solid thin #E0E0E0;
border-right:solid thin gray;
border-left:solid thin #E0E0E0;
font-family:Verdana;
font-size:13px;
text-align:center;

color:#ffffff;
cursor:pointer;
background-image:url(../../images/wl/004.png); background-repeat:repeat-x;width:auto;
overflow:hidden;}
.gongju3{border-top:solid thin #E0E0E0;
border-right:solid thin gray;
border-left:solid thin #E0E0E0;
font-family:Verdana;
font-size:13px;
text-align:center;

color:#ffffff;
cursor:pointer;
background-image:url(../../images/wl/013.jpg); background-repeat:repeat-x;width:auto;
overflow:hidden;}

.gongju4{
font-family:Verdana;
font-size:13px;
text-align:center;

color:#ffffff;
cursor:pointer;
background-image:url(../../images/wl/014.png); background-repeat:repeat-x;width:auto;
overflow:hidden;}
.gongju5{border-top:solid thin #E0E0E0;

border-left:solid thin #E0E0E0;
font-family:Verdana;
font-size:13px;
text-align:center;

color:#ffffff;
cursor:pointer;
background-image:url(../../images/wl/031.png); background-repeat:repeat-x;width:auto;
overflow:hidden;}