@charset "utf-8";
/* CSS Document */

/* 全局 */
*{ margin: 0; padding:0; outline: none; box-sizing:border-box;}
body{ font-size:100%;color:#565656; font-family:"Microsoft YaHei", "SimSun", "Segoe UI", "Verdana", "Helvetica", "Sans-Serif";}
ul,ol,li{ list-style-type: none;}
a{ text-decoration: none;}
input{ font-family:"Microsoft YaHei", "SimSun", "Segoe UI", "Verdana", "Helvetica", "Sans-Serif";}
.clearfix:after{ content: "."; clear: both; display: block; height: 0; visibility: hidden;}

/*body{ background-image: url(../images/loginbg.png); position: center center; background-size:cover;}*/
body{
	background-color:#3281C8;
}

.loginBox{ width: 506px; height: 350px; background-color:#FFFFFF; padding:0 42px; position: absolute; top: 52%; left: 50%; margin:-201px 0 0 -253px; border-radius: 5px;}
.loginBox h1{ color:#1d2528; height: 3em; line-height: 3em; font-size: 1.875em; border-bottom: #93BCE1 1px solid; margin-top : 10px; margin-bottom: 48px; font-weight: 500;text-align: center; margin:0 auto;}
.loginBox .title{ border-bottom: #93BCE1 1px solid; padding-top : 35px;padding-bottom : 10px;margin-top : 35px;text-align: center; margin:0 auto;}
.loginBox span{ width: 5em; height: 46px; line-height: 46px; float: left; display: block;}
.loginBox input[type="text"], 
.loginBox input[type="password"]{ 
	width: 330px; height: 46px; line-height: 46px; font-size: 1.25em; margin:12px auto; display: block; text-indent: .5em; border:#acb0af 1px solid; border-radius: 3px;
	/* IE7&IE6 Hack */
	*width:400px; *float: left; *margin:0;
}
.loginBox input[type="button"]{ width: 160px; height: 46px; line-height: 46px; font-size: 20px;  color:#fff; margin:38px auto 0 auto; background-color: #3281C8; border:0; border-radius: 3px; display: block; cursor: pointer;}
.loginBox .errorText{ text-align: center; color:#ea5859; margin:14px 0;}
/*.foot{ width: 506px; height: 50px; border:1px solid; border-radius: 5px;position: absolute;top: 82%;left: 34%;margin:-30px 0 0 -25px;text-align:center;font-size :12px;}*/