<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xwwx.sewage.dao.PickListDao">
	<!-- 登录验证 -->
	<select id="getPickListById"
		resultType="com.xwwx.sewage.bean.PickList" parameterType="String">
		select * from picklist where pid = #{pid}
	</select>
</mapper>